/*
Image upload field
--------------------------------------------------------------*/
#bm_dialog .fieldImage {
  width: 100%;
  clear: both;
  margin-top: 0;
}
#bm_dialog .fieldImage label {
}
/* Max file size */
#bm_dialog .fieldImage .fuxdProxy {
  position: relative;
  background: url(https://d3hok70xjqsuiy.cloudfront.net/assets/prod/25214/labelmaxfilesize_1351277190.png) no-repeat left bottom;
}
/* Browse Button */
#bm_dialog .formBuilderRow .fuxdButton {
  filter: none;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 15px;
  float: left;
  width: auto;
  cursor: pointer;
}
/* File upload experimental css */
#bm_dialog .ajaxUploader .fileName {
  padding: 5px 10px;
  margin: 0;
  max-width: none;
  overflow: hidden;
  max-height: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: absolute;
  width: 325px;
  height: 30px;
  top: 0px;
  left: -345px;
  background: #F2F2F2;
  border: solid #bdbebd 1px;
  font-size: 12px;
  display: none;
}